@use '@angular/material' as mat;

@include mat.core();



$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette(mat.$blue-palette, A700),/*light-blue-palette*/
            accent: mat.define-palette(mat.$pink-palette, 500)
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

@include mat.all-component-themes($dark-theme);