<div class="grid__module__container">
    
    <app-section-title style="grid-area:title;"></app-section-title>

    <app-card-module style="grid-area: a;"></app-card-module>
    
    <div class="in__courses" style="grid-area: b;">
        <app-progress-bar></app-progress-bar>
        <app-progress-bar></app-progress-bar>
        <app-progress-bar></app-progress-bar>
    </div>

    <app-card-module style="grid-area: d;"></app-card-module>
    
    <div class="in__courses" style="grid-area: e;">
        <app-progress-bar></app-progress-bar>
        <app-progress-bar></app-progress-bar>
        <app-progress-bar></app-progress-bar>
    </div>
   
    
        <h2>Novedades</h2>
    
    
</div>