@font-face {
    font-family: "galindo";
    src: url(../../../assets/fonts/Galindo-Regular.ttf);
}

h1{
    font-family: 'galindo';
    font-size: 1.5rem;
    padding-left: 3rem;
}

.mdc-data-table__header-cell{
    padding-top: 17px;
}

.add__student{
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    padding: 1rem;
    align-items: center;
    justify-items: start;
    gap: 3rem
}

.table__students{
    width: 80%;
}
