<h1 mat-dialog-title>Agregar estudiante </h1>
<div mat-dialog-content>
  <p>Ingrese un nuevo alumno </p>

  <form [formGroup]="studentForm">
    <div class="flex mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          [formControl]="firstNameControl"
          matInput placeholder="Nombre"/>
  
        <mat-hint>
          <app-error-helper [control]="firstNameControl"></app-error-helper>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="ml-3">
        <mat-label>Apellido</mat-label>
        <input
          [formControl]="lastNameControl"
          matInput
          placeholder="Apellido"
        />
        
        <mat-hint>
          <app-error-helper [control]="lastNameControl"></app-error-helper>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="flex ">
        <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input [formControl]="ageControl" matInput placeholder="Edad" />
            <mat-hint>
            <app-error-helper [control]="ageControl"></app-error-helper>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="ml-3">
            <mat-label>DNI</mat-label>
            <input [formControl]="dniControl" matInput placeholder="DNI" />
            <mat-hint>
                <app-error-helper [control]="dniControl"></app-error-helper>
            </mat-hint>
        </mat-form-field>
        </div>
    </form>
    
    <div mat-dialog-actions class="flex justify-content-end gap-4">
        <button mat-button (click)="close()">Descartar</button>
        <button mat-button [mat-dialog-close]="studentForm.value" cdkFocusInitial
          [disabled]="studentForm.invalid">Añadir</button>
    </div>
</div>
