.navbar__container{
    width: 3.5rem;
    height: 100%;
    padding: 0.7em;
    border-right: 1px solid rgb(20, 20, 20);
    background-color: rgb(12,12,12);
    box-shadow: 27px 0px 26px -20px rgba(0,0,0,0.52);
    -webkit-box-shadow: 27px 0px 26px -20px rgba(0,0,0,0.52);
    -moz-box-shadow: 27px 0px 26px -20px rgba(0,0,0,0.52);
    display: grid;
    grid-template-rows: 2fr 21rem 3fr;
    transition: all 0.5s;
}

.navbar__transition__enter{
    transition: all 0.2s;
    width: 12rem;
}

h5{
    font-size: 0.8rem;
    width: 10rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:0 0.5em;
    margin: 0;
    color: white;
    opacity: 0;
    transition: all 0.2s;
    text-align: start;
    
}

.display__enter{
    transition: all 0.2s;
    opacity: 1;
}

.display__leave{
    transition: all 0.2s;
    opacity: 0;
}

.navbar__empty{
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1em;
}

.navbar__grid__container{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 0.9em;
}

.navbar__button{
    transition: all 0.1s;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 4px solid rgba(19,103,235,0);
}

.navbar__button:hover{
    transition: all 0.2s;
    background: rgba(19,103,235,0.2);
    border-right: 4px solid rgb(19,103,235);
}

.navbar__button__white{
    transition: all 0.2s;
    height: 2.8rem;
    display: flex;
    align-items: center;
    border-right: 4px solid rgba(19,103,235,0);
}

.navbar__button__white:hover{
    transition: all 0.2s;
    background: rgba(61, 61, 61, 0.2);
    border-right: 4px solid rgb(102, 102, 102);
}

.navbar__img{
    height: 1.8rem;
    width: fit-content;
    margin-left: 0.3rem;
}

