<div class="navbar__container {{navbarClass}}" 
    (mouseenter)="setNavbarClasses()"
    (mouseleave)="quitNavbarClasses()">
    <div class="navbar__empty"></div>
    <div class="navbar__grid__container">
        <a class="navbar__button" >
            <img class="navbar__img" src="../../../assets/icons/home_icon.svg" alt="">
            <h5 class="{{navbarContentClass}}">Home</h5>
        </a>
        <button routerLink="courses" class="navbar__button">
            <img class="navbar__img" src="../../../assets/icons/course_icon.svg" alt="">
            <h5 class="{{navbarContentClass}}">Cursos</h5>
        </button>
        <button routerLink="students" class="navbar__button">
            <img class="navbar__img" src="../../../assets/icons/groups_icon.svg" alt="">
            <h5 class="{{navbarContentClass}}">Estudiantes</h5>
        </button>
        <button class="navbar__button">
            <img class="navbar__img" src="../../../assets/icons/calendar_icon.svg" alt="">
            <h5 class="{{navbarContentClass}}">Calendario</h5>
        </button>
        <button class="navbar__button">
            <img class="navbar__img" src="../../../assets/icons/metrics_icon.svg" alt="">
            <h5 class="{{navbarContentClass}}">Mi desempeño</h5>
        </button>
        <button class="navbar__button">
            <img class="navbar__img" src="../../../assets/icons/chat_icon.svg" alt="">
            <h5 class="{{navbarContentClass}}">Chat</h5>
        </button>
    </div>
    <div class="navbar__empty">
        <button class="navbar__button__white">
            <img class="navbar__img" src="../../../assets/icons/help_icon.svg" alt="">
            <h5 class="{{navbarContentClass}}">Preguntas<br>frecuentes</h5>
        </button>
    </div>
</div>
