<div class="login__container">
    <div class="login__img__container">
        
    </div>

    <div class="login__form__container">
        <img class="login__form__logo" src="../../../assets/icons/logo.svg" alt="">
        <div class="login__form">
            <input type="text" class="login__form__input" placeholder="Email">
            <input type="text" class="login__form__input" placeholder="Contraseña">
            <button></button>
        </div>
    <div class="mt-4">


        <a routerLink="home">
            <h1>Ingresar</h1>
        </a>
            
        
    </div>
           
    </div>
</div>
