/* You can add global styles to this file, and also import other style files */



/*Custom properties*/

/*------------------------- Reset CSS -------------------*/

:root{
    font-size: 20px;
}

/*Reset ALL margins, paddings, borders and define box-sizing*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    scrollbar-width: auto;
    scrollbar-color: rgb(120,120,120) rgb(201, 201, 201);
}

img , picture , video , iframe , figure {
    /**/
    max-width: 100%;
    width: 100%;
    display: block;
    /*nos permite configurar el tamaño del objeto dentro de una img*/
    /*object-fit: scale-down achica la img dentro del contenedor <img>*/
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
}

p a {
    display: inline;
}

li{
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, i, b, u , em{
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote::before, blockquote::after, q::before, q::after{
    content: '';
    content: none;
}

form, input, textarea, select, button, label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
    appearance: none;
}



svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

textarea {
    resize: none;
}


html, body { height: 100%; }


body{
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.4em;
    font-smooth: always;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size: 16px;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
      background: rgb(201, 201, 201)
    }
    
  *::-webkit-scrollbar-thumb {
    background-color: rgb(120,120,120);
    border-radius: 0px;
    border: 0px none rgb(120,120,120);
  }

/*----------------------------------------------------------------*/
@media screen and (max-width:2000px) and (min-width:1500px){
        
    :root{
        font-size: 22px;
    }
    body{
        font-size: 16px;
    }
}

@media screen and (max-width:1499px) and (min-width:1211px){
        
    :root{
        font-size: 16px;
    }
    body{
        font-size: 12px;
    }
}

@media screen and (max-width:1210px) and (min-width:1001px){
        
    :root{
        font-size: 16px;
    }
    body{
        font-size: 12px;
    }
}
