.colour__container{
    width: 160px;
    height: 400px;
    background-color: rgb(215, 172, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    border-top: 4px solid rgb(255, 216, 59);
    border-bottom: 4px solid rgb(161, 129, 0);
}

.green{
    width: 100px;
    height: 100px;
    background-color: rgb(24, 208, 24);
    color: black;
    border-radius: 50%;
    border-top: 7px solid rgb(98, 96, 0);
    box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
}

.red{
    width: 100px;
    height: 100px;
    background-color: red;
    color: black;
    border-radius: 50%;
    border-top: 7px solid rgb(98, 96, 0);
    box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
}

.yellow{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 0);
    color: black;
    border-radius: 50%;
    border-top: 7px solid rgb(98, 96, 0);
    box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
}

.off{
    width: 100px;
    height: 100px;
    background-color: rgb(138, 111, 0);
    color: black;
    border-radius: 50%;
    border-top: 7px solid rgb(98, 96, 0);
    box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
}
