<div class="form__container">

    <h5 class="form__title mb-4">Registrar alumnos</h5>
    
    <form [formGroup]="registerStudentForm" class="row" (ngSubmit)="onSubmit()">

           <div class="mb-2 col-6">
               <label for="firstName" class="form-label">Nombre</label>
               <input [formControl]="firstNameControl" type="text" class="form-control">
               <app-error-helper [control]="firstNameControl"></app-error-helper>
            </div> 
            
            <div class="mb-2 col-6" >
                <label for="lastName" class="form-label">Apellido</label>
                <input [formControl]="lastNameControl" type="text" class="form-control">
                <app-error-helper [control]="lastNameControl"></app-error-helper>
            </div>
            
            <div class="mb-2 col-6">
                <label for="email" class="form-label">Email</label>
                <input [formControl]="emailControl" type="text" class="form-control">
                <app-error-helper [control]="emailControl"></app-error-helper>
            </div>

            <div class="mb-2 col-3" >
                <label class="form-label">Sexo</label>
                <select class="form-select" [formControl]="sexControl">
                    <option [value]="'M'">M</option>
                    <option [value]="'F'">F</option>
                </select>
            </div>
            
            <div class="mb-2 col-3" >
                <label for="age" class="form-label">Edad</label>
                <input  [formControl]="ageControl" type="select" class="form-control col-2">
                <app-error-helper [control]="ageControl"></app-error-helper>
            </div>
            
            <div class="mb-2 col-6">
                <label for="password" class="form-label">Password</label>
                <input [formControl]="passwordControl" type="password" class="form-control">
                <app-error-helper [control]="passwordControl"></app-error-helper>
            </div>
            
            <div class="mb-2 col-6">
                <label for="rePassword" class="form-label">Repeat password</label>
                <input [formControl]="rePasswordControl" type="password" class="form-control">
                <app-error-helper [control]="rePasswordControl"></app-error-helper>
            </div>
      
        <div class="col-12 d-flex justify-content-end mt-3">
            <button [disabled]="registerStudentForm.invalid" class="form__button" type="submit">Enviar</button>
        </div>
        
    </form>
    
    <p>{{stateFormMessage}}</p>
</div>